
.container-weather-card {
    background-color: rgba(255, 255, 255, 0.7);
    width: 180px;
    height: 150px;

    border-radius: 10px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    position: relative;
}

.container-city-country {
    display: flex;
    flex-direction: column;
}   

.card-city-text {
    font-size: 1.5rem;
}

.card-country-text {
    font-size: 0.8rem;
}

.card-favorite-icon-image {
    position: absolute;
    right: 15px;
    top: 20px;

    width: 20px;
    height: 20px;
}

.container-icon-temperature {
    display: flex;
    gap: 10px;
    align-items: center;
}

.card-icon-image {
    width: 30px;
    height: 30px;
}

.card-temperature-text {
    font-size: 2.5rem;
}

.card-feels-like-text {
    font-size: 0.8rem;
}
